.blog-header {
    display: flex;
    height: 400px;
    align-items: center;
    background-color: #FFE7FF;
    justify-content: space-evenly;
    overflow: hidden;
}

.dark-mode .blog-header {
    background-color: #4f014f
}

.blog-header img {
    width: 100%;
}

.blog-header .image-header {
    width: 35%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.blog-header .title-header {
    width: 55%;
}

.blog-header .title-header h2 {
    font-family: 'Founders-Grotesk-medium';
    font-size: 48px;
    margin-bottom: 0;
}

.blog-header .title-header p {
    font-family: 'Founders-Grotesk-regular';
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 0;
}

.blog-text {
    display: flex;
    justify-content: center;
}

.blog-text .blog-paragraph {
    width: 90%;
}

.blog-text p {
    font-family: 'Founders-Grotesk-light';
    font-size: 22px;
    display: block;
}

.blog-text b {
    font-family: 'Founders-Grotesk-medium';
    font-size: 26px;
    display: block;
}


.blog-header .title-header .info a,
.blog-info .info-end a {
    text-decoration: none;
    color: #fc81f2;
    padding: 13px 19px 8px 19px;
    border-radius: 30px;
    border: 1px solid #fc81f2;
    font-family: 'Founders-Grotesk-medium';
    font-size: 20px;
    cursor: pointer;
}

.blog-header .title-header .info a:hover,
.blog-info .info-end a:hover {
    color: #2d2d2d;
    background: var(--main-colors-gradient, linear-gradient(30deg, #fc81f2 13.4%, #cd59ff 75.6%));
}

.blog-header .title-header .info,
.blog-info .info-end {
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
    margin-left: 10px;
}

.blog-info .info-end {
    justify-content: center
}

@media (max-width: 1100px) {
    .blog-header {
        height: 300px;
    }

    .blog-header .title-header h2 {
        font-family: 'Founders-Grotesk-medium';
        font-size: 36px;
    }

    .blog-header .title-header p {
        font-family: 'Founders-Grotesk-regular';
        font-size: 20px;
    }

}


@media (max-width: 870px) {

    .blog-header .title-header a,
    .blog-info .info-end a {
        margin-left: 0px;
        padding: 10px 20px;
        font-size: 18px;
    }
}

@media (max-width: 840px) {
    .blog-header .image-header {
        width: 100%;
        border-radius: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .blog-header .title-header {
        width: 90%;
    }

    .blog-header {
        height: 500px;
        flex-direction: column;
    }

    .blog-text .blog-paragraph {
        margin-top: 20px;
        width: 90%;
    }

    .blog-header .title-header h2 {
        font-family: 'Founders-Grotesk-medium';
        font-size: 32px;
    }
}

@media (max-width: 440px) {

    .blog-header .title-header .info a,
    .blog-info .info-end a {
        text-decoration: none;
        color: #FFFFFF;
        padding: 13px 19px 8px 19px;
        border-radius: 30px;
        border: 0;
        font-family: 'Founders-Grotesk-medium';
        background: var(--main-colors-gradient, linear-gradient(30deg, #3D73EB 13.4%, #DE8FFF 86.6%));
        font-size: 20px;
        cursor: pointer;
    }

    .blog-header .title-header .info a:hover,
    .blog-info .info-end a:hover {
        background: var(--main-colors-gradient, linear-gradient(30deg, #1f53c3 13.4%, #cd59ff 75.6%));
    }


    .blog-header .title-header .info,
    .blog-info .info-end {
        padding-top: 5px;
        margin-top: 15px;
        margin-left: 0;
        justify-content: center;
    }
}