#app {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
  transform: translateX(3rem);
}

.transition-container {
  transition: background-color 0.4s ease, color 0.4s ease;
}

.dark-mode {
  background-color: #151515;
  color: #e6e6e6;
}